<?xml version="1.0"?>
<!--
  ~ Copyright © 2020
  ~ @copyright Alex Ghiban & JustinKase.ca - All rights reserved.
  ~ @license GPL-3.0-only
  ~ @see https://justinkase.ca or https://ghiban.com
  ~ @contact <alex@justinkase.ca>
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Config\Model\Config\TypePool">
        <arguments>
            <argument name="sensitive" xsi:type="array">
                <item name="carriers/canadapost/password" xsi:type="string">1</item>
            </argument>
        </arguments>
    </type>

    <!-- Canada Post Rates - Client Config -->
    <preference for="JustinKase\CanadaPostRates\Api\ClientInterface" type="JustinKase\CanadaPostRates\Model\Client"/>

    <virtualType name="RatesClient" type="JustinKase\CanadaPostRates\Model\Client">
        <arguments>
            <argument name="clientConfig" xsi:type="object">JustinKase\CanadaPostRates\Model\RatesClientConfig</argument>
        </arguments>
    </virtualType>

    <type name="JustinKase\CanadaPostRates\Model\Carrier\CanadaPost">
        <arguments>
            <argument name="client" xsi:type="object">RatesClient</argument>
        </arguments>
    </type>
</config>
